body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777; 
    width: 960px;
    font-size: 18px; 
    text-align: center;
}
div {
    width: 80%;
    margin: 0 auto;  
}
header, nav, footer {
    background: #ebebeb;
    color: #777;
    clear: both;
    

}
.wrapper {
    height: 250px;
    width: 100%;
    background: #777;
    
}
h1 {
    font-size: 18px;
    margin: 10px;
    padding: 20px;
}
section {
    float: left; 
    width: 495px;
    height: 250px;
    background: #ebebeb;
    color: #777;
    
}
aside {
    float: right;
    width: 260px;
    background: #ebebeb;
    color: #777;
    height: 250px;
    
    
}
article {
    background: #777;
    color: #ebebeb;
    width: 90%;
    margin: 0 auto;
    height: 140px;
    padding-top: 15px;

}
h2 {
    background: #ebebeb;
    color: #777;
    padding: 10px;
    font-size: 18px;
    width: 90%;
    text-align: center;
    margin-right: auto; 
    margin-left: auto;
    margin-bottom: 3px;
   
}
p {
    background: #ebebeb;
    color: #777;
    padding: 10px;
    font-size: 18px;
    width: 90%;
    text-align: center;
    margin-right: auto; 
    margin-left: auto;
    margin-top: 3px;
   
}

